{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "env": {
    "node": true,
    "browser": false,
    "meteor": true
  },
  "settings": {
    "import/core-modules": ["meteor"],
    "import/resolver": {
      "meteor": {
        "extensions": [".jsx", ".js"]
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "semi": true,
        "trailingComma": "all",
        "singleQuote": true,
        "proseWrap": "always"
      }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-unresolved": ["error", { "ignore": ["meteor/"] }]
  }
}
