.git
.github
docs
.eslintcache
node_modules
.env
codeship.aes
dockercfg

packages/*/.npm

examples/*/.git
examples/*/.next
examples/*/node_modules
examples/*/.eslintcache
examples/*/out
examples/*/.build
examples/*/.tmp
