.git
.github
docs
.eslintcache
node_modules
.env
codeship.aes
dockercfg

packages/*/.npm

examples/controlpanel/.git
examples/controlpanel/.next
examples/controlpanel/node_modules
examples/controlpanel/.eslintcache
examples/controlpanel/out

examples/minimal/.git
examples/minimal/.build
examples/minimal/.tmp
examples/minimal/node_modules
examples/minimal/.eslintcache

examples/boilerplate/.git
examples/boilerplate/.build
examples/boilerplate/.tmp
examples/boilerplate/node_modules
examples/boilerplate/.eslintcache
