.git
.context
.claude
.agents
.github
.db
.tmp
.build
typedocs
docs
**/node_modules
**/.next
**/.docusaurus
**/.db
**/coverage
**/out
env
**/.env*
!.env.tests
!**/.env.defaults
!admin-ui/.env
!admin-ui/.env.development
packages/*/lib
examples/*/lib
**/*.tsbuildinfo
