node_modules
.eslintcache
tsconfig.tsbuildinfo
.vscode
.DS_Store
/.env
.npm
/globalConfig.json
/docs/static/api
/packages/*/lib
/lib
/env
.aider*
/data
fly.toml
/typedocs
.env.local.tests
.db
*.db
/tools/demo-data-cli/dist
