ol li {
  margin-bottom: 2rem;
}

.launch-card-wrapper {
  padding: 0 32px;
}
a.launch-button-mobile {
  display: none;
}

@media (max-width: 768px) {
  .launch-card-wrapper {
    padding: 0;
  }

  a.launch-button {
    display: none;
  }

  a.launch-button-mobile {
    margin-top: 16px;
    margin-bottom: 64px;
    display: flex;
  }
}
