.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  line-height: 1.2;
  color: #454545;
  color: var(--color-dark);
  font-weight: 500;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}

.form-error {
  color: var(--color-danger);
}

.form-error .form-label,
.form-error .form-check-label {
  color: var(--color-danger);
}

.form-error .form-control {
  border: 1px solid var(--color-danger);
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
