.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }
}

.w-75 {
  width: 75%;
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

.w-100 {
  width: 100% !important;
}

@media (max-width: 767px) {
  .w-100-for-mobile {
    width: 100%;
  }
}

.w-auto {
  width: auto;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.min-vw-100 {
  min-width: 100vw;
}

.min-vh-100 {
  min-height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}
