{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "root": true,
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "react/jsx-props-no-spreading": [0],
    "no-underscore-dangle": ["error", { "allow": ["_id", "__typename"] }],
    "react/jsx-curly-brace-presence": [0],
    "import/no-extraneous-dependencies": [0],
    "react/prop-types": [0],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["AutoField"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ]
  }
}
