.no-button {
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  text-align: left;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}

.button-group .button {
  margin-right: 1em;
  margin-bottom: 1rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.23s ease-in-out, border-color 0.23s ease-in-out,
    color 0.23s ease-in-out;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-grey-light);
}

.button[disabled],
.button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  outline: none;
}

.button--primary {
  color: #ffffff;
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  font-weight: bold;
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--color-brand-darker);
  border: 1px solid var(--color-brand-darker);
}

.button--secondary {
  color: var(--color-brand);
  background-color: #ffffff;
  border: 1px solid var(--color-brand);
}

.button--secondary:hover,
.button--secondary:focus {
  color: var(--color-brand-darker);
  border-color: var(--color-brand-darker);
}

.button--tertiary {
  color: var(--color-dark);
  background-color: #ffffff;
  border: 1px solid var(--color-dark);
}

.button--tertiary:hover,
.button--tertiary:focus {
  color: var(--color-brand-darker);
  border-color: var(--color-brand-darker);
}

.button--small {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .button--big {
    padding-top: 0.875em;
    padding-right: 2.25em;
    padding-bottom: 0.875em;
    padding-left: 2.25em;
  }
}

.bookmark-button {
  top: 1em;
  right: 1em;
  z-index: 100;
}
