.footer-bg {
  height: 100px;

  background-image: linear-gradient(
    145deg,
    #e24da7 25%,
    #ffffff 25%,
    #ffffff 50%,
    #e24da7 50%,
    #e24da7 75%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-size: 10.46px 7.32px;
}
