.header {
  background-color: white;
  z-index: 1030;
}

.logo-mark {
  max-width: 32px;
}

@media (min-width: 768px) {
  .logo-mark {
    max-width: 56px;
  }
}

.breadcrumb__link {
  opacity: 0.9;
}

.breadcrumb__link::after {
  content: "〉";
  font-size: 12px;
  display: inline-block;
  margin-left: 1em;
  color: var(--color-grey);
  font-weight: bold;
}

.breadcrumb__link:last-child {
  opacity: 0.7;
}

.breadcrumb__link:last-child::after {
  content: "";
}
