.product-list-item-image {
  transition: transform 0.18s ease-in-out;
}

.product-list-item:hover,
.product-list-item:focus  {
  text-decoration: none;
}

.product-list-item:hover .product-list-item-image,
.product-list-item:focus .product-list-item-image {
  transform: scale(0.95);
}
